<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Device</title>
    <link rel="icon" type="image/png" href="{{ LOGO_PNG }}">
    <link href="/static/css/output.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-300 text-gray-900 dark:bg-zinc-900 dark:text-gray-100 min-h-screen flex flex-col">
    {% include 'header.html' %}
    <div class="flex-1 flex items-center justify-center mx-4">
        <div class="container py-8 max-w-md pt-20">
            <div class="flex items-center mb-6 relative">
                <a href="javascript:window.history.back()" class="hidden sm:flex absolute left-0 bg-gray-200 hover:bg-gray-400 dark:bg-zinc-700 dark:hover:bg-zinc-600 items-center justify-center rounded-full w-11 h-11"><i class="fas fa-arrow-left"></i></a>
                <h1 class="text-3xl font-bold text-center w-full">Add Device</h1>
            </div>
            <form action="/add_device" method="POST" class="flex flex-col space-y-4">
                <input type="text" name="device_name" placeholder="Device Name" class="p-3 rounded-lg bg-gray-200 dark:bg-zinc-800 border border-gray-600" required>
                <label for="device_type" class="block mb-2">Device Type</label>
                <select id="device_type" name="device_type" class="p-2 rounded w-full mb-4 bg-gray-200 dark:bg-zinc-800 border border-gray-600" required>
                    {% for dtype in device_types %}
                        <option value="{{ dtype[0] }}">{{ dtype[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-gray-200 hover:bg-gray-400 dark:bg-zinc-700 dark:hover:bg-zinc-600 hover:cursor-pointer px-4 py-2 rounded-lg">Add Device</button>
            </form>
        </div>
    </div>
</body>
</html>
